/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/outputs.h>

#define NAV_L 1
#define NUM_L 2
#define MED_L 3
#define FUN_L 4

/ {
    tap_dances {
        shifty: shift_caps_word {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift+";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp LSHFT>, <&caps_word>;
        };
    };

    cond_layers {
        compatible = "zmk,conditional-layers";
        tri {
            if-layers = <NUM_L NAV_L>;
            then-layer = <MED_L>;
        };
    };

    combos {
        compatible = "zmk,combos";

        l_curly_bracket {
            timeout-ms = <50>;
            key-positions = <2 14>;
            bindings = <&kp LS(LBKT)>;
            layers = <NUM_L>;
        };

        r_curly_bracket {
            timeout-ms = <50>;
            key-positions = <4 16>;
            bindings = <&kp LS(RBKT)>;
            layers = <NUM_L>;
        };

        lbracket {
            timeout-ms = <50>;
            key-positions = <14 26>;
            bindings = <&kp LBKT>;
            layers = <NUM_L>;
        };

        rbracket {
            timeout-ms = <50>;
            key-positions = <16 28>;
            bindings = <&kp RBKT>;
            layers = <NUM_L>;
        };

        ques_mark_combo {
            timeout-ms = <50>;
            key-positions = <21 33>;
            bindings = <&kp LS(FSLH)>;
        };

        bslash_combo {
            timeout-ms = <50>;
            key-positions = <10 22>;
            bindings = <&kp BSLH>;
        };

        fslash_combo {
            timeout-ms = <50>;
            key-positions = <22 34>;
            bindings = <&kp FSLH>;
        };

        bootloader_combo {
            timeout-ms = <50>;
            key-positions = <5 6>;
            bindings = <&bootloader>;
            layers = <MED_L>;
        };

        gui_combo {
            timeout-ms = <50>;
            key-positions = <16 19>;
            bindings = <&kp LGUI>;
            layers = <MED_L>;
        };
    };

//  Чтобы генерировать прошивку Colemak закомментируйте следующцю строку, иначе будет генерироваться Qwerty
#define QWERTY_BASE


    keymap {
        compatible = "zmk,keymap";

#ifdef QWERTY_BASE
        qwerty_layer {
            display-name = "Base";
            bindings = <
//             ╭───────────────┬─────────────┬─────────────┬─────────────┬──────────────┬─────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬─────────────╮
                &kp ESC         &kp Q         &kp W         &kp E         &kp R          &kp T             &kp Y          &kp U          &kp I          &kp O          &kp P          &kp BSLH
//             ├───────────────┼─────────────┼─────────────┼─────────────┼──────────────┼─────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
                &mt LCTRL TAB   &kp A         &kp S         &kp D         &kp F          &kp G             &kp H          &kp J          &kp K          &kp L          &kp SEMI       &kp SQT
//             ├───────────────┼─────────────┼─────────────┼─────────────┼──────────────┼─────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
                &kp LSHFT       &kp Z         &kp X         &kp C         &kp V          &kp B             &kp N          &kp M          &kp COMMA      &kp DOT        &kp FSLH       &mt RALT GRAVE
//             ╰───────────────┴─────────────┴─────────────┴─────────────┴──────────────┴─────────────╯   ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────┴─────────────╯
//                                                         ╭─────────────┬──────────────┬─────────────╮   ╭──────────────┬──────────────┬──────────────╮
                                                            &kp LGUI      &mo NUM_L      &lt NAV_L RET     &kp SPACE      &kp BSPC       &shifty
//                                                         ╰─────────────┴──────────────┴─────────────╯   ╰──────────────┴──────────────┴──────────────╯
            >; 
        };
#else
        colemak_dhm_layer {
            display-name = "Base";
            bindings = <
//             ╭───────────────┬─────────────┬─────────────┬─────────────┬──────────────┬─────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬─────────────╮
                &kp ESC         &kp Q         &kp W         &kp F         &kp P          &kp B             &kp J          &kp L          &kp U          &kp Y          &kp SQT        &kp BSLH
//             ├───────────────┼─────────────┼─────────────┼─────────────┼──────────────┼─────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
                &mt LCTRL TAB   &kp A         &kp R         &kp S         &kp T          &kp G             &kp M          &kp N          &kp E          &kp I          &kp O          &kp SEMI
//             ├───────────────┼─────────────┼─────────────┼─────────────┼──────────────┼─────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
                &kp LSHFT       &kp Z         &kp X         &kp C         &kp D          &kp V             &kp K          &kp H          &kp COMMA      &kp DOT        &kp FSLH       &mt RALT GRAVE
//             ╰───────────────┴─────────────┴─────────────┴─────────────┴──────────────┴─────────────╯   ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────┴─────────────╯
//                                                         ╭─────────────┬──────────────┬─────────────╮   ╭──────────────┬──────────────┬──────────────╮
                                                            &studio_unlock &mo NUM_L     &lt NAV_L RET     &kp SPACE      &kp BSPC       &shifty
//                                                         ╰─────────────┴──────────────┴─────────────╯   ╰──────────────┴──────────────┴──────────────╯
            >;
        };
#endif

        nav_layer {
            display-name = "Nav";
            bindings = <
//             ╭───────────────┬─────────────┬─────────────┬─────────────┬──────────────┬─────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬─────────────╮
                &kp LG(LS(N4))  &trans        &kp PG_UP     &kp UP_ARROW  &kp PG_DN      &kp HOME          &kp CARET      &kp PG_UP      &kp UP_ARROW   &kp PG_DN      &kp HOME       &kp LG(LS(N4))
//             ├───────────────┼─────────────┼─────────────┼─────────────┼──────────────┼─────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
                &trans          &trans        &kp LEFT_ARROW &kp DOWN_ARROW &kp RIGHT_ARROW &kp END        &kp MINUS      &kp LEFT_ARROW  &kp DOWN_ARROW &kp RIGHT_ARROW &kp END       &trans
//             ├───────────────┼─────────────┼─────────────┼─────────────┼──────────────┼─────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
                &out OUT_TOG    &trans        &trans        &trans      &kp LC(LEFT_ARROW) &kp LC(RIGHT_ARROW) &kp LC(LEFT_ARROW) &kp LC(RIGHT_ARROW) &trans &trans    &trans         &out OUT_TOG
//             ╰───────────────┴─────────────┴─────────────┴─────────────┴──────────────┴─────────────╯   ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────┴─────────────╯
//                                                         ╭─────────────┬──────────────┬─────────────╮   ╭──────────────┬──────────────┬──────────────╮
                                                            &kp LGUI      &mo MED_L      &trans            &trans         &trans         &trans
//                                                         ╰─────────────┴──────────────┴─────────────╯   ╰──────────────┴──────────────┴──────────────╯
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
//             ╭───────────────┬─────────────┬─────────────┬─────────────┬──────────────┬─────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬─────────────╮
                &kp ESC         &kp N1        &kp N2        &kp N3        &kp N4         &kp N5            &kp N6         &kp N7         &kp N8         &kp N9         &kp N0         &kp GRAVE
//             ├───────────────┼─────────────┼─────────────┼─────────────┼──────────────┼─────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
                &trans          &kp EXCL      &kp AT        &kp HASH      &kp DLLR       &kp PRCNT         &kp CARET      &kp AMPS       &kp KP_MULTIPLY &kp LPAR       &kp RPAR       &kp COLON
//             ├───────────────┼─────────────┼─────────────┼─────────────┼──────────────┼─────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
                &kp LSHFT       &kp N1        &kp KP_PLUS   &kp KP_MINUS  &kp LBRC       &kp LBKT          &kp RBKT       &kp RBRC       &kp KP_EQUAL    &kp UNDER      &trans         &trans
//             ╰───────────────┴─────────────┴─────────────┴─────────────┴──────────────┴─────────────╯   ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────┴─────────────╯
//                                                         ╭─────────────┬──────────────┬─────────────╮   ╭──────────────┬──────────────┬──────────────╮
                                                            &kp LGUI      &trans         &mo MED_L         &kp KP_N1      &kp KP_N2      &kp KP_N3
//                                                         ╰─────────────┴──────────────┴─────────────╯   ╰──────────────┴──────────────┴──────────────╯
            >;
        };

        media_layer {
            display-name = "Adjust";
            bindings = <
//             ╭───────────────┬─────────────┬─────────────┬─────────────┬──────────────┬─────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬─────────────╮
                &sys_reset      &trans        &trans        &trans        &trans         &trans            &kp C_VOL_UP   &trans         &trans         &trans         &trans         &sys_reset
//             ├───────────────┼─────────────┼─────────────┼─────────────┼──────────────┼─────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
                &bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_SEL 4      &kp C_VOL_DN   &trans         &trans         &trans         &trans         &trans
//             ├───────────────┼─────────────┼─────────────┼─────────────┼──────────────┼─────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
                &trans          &trans        &trans        &trans        &trans         &trans            &trans         &trans         &trans         &trans         &trans         &bootloader
//             ╰───────────────┴─────────────┴─────────────┴─────────────┴──────────────┴─────────────╯   ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────┴─────────────╯
//                                                         ╭─────────────┬──────────────┬─────────────╮   ╭──────────────┬──────────────┬──────────────╮
                                                            &trans        &trans         &mo FUN_L         &trans         &trans         &trans
//                                                         ╰─────────────┴──────────────┴─────────────╯   ╰──────────────┴──────────────┴──────────────╯
            >;
        };

        fun_layer {
            display-name = "Media";
            bindings = <
//             ╭───────────────┬─────────────┬─────────────┬─────────────┬──────────────┬─────────────╮   ╭──────────────┬──────────────┬──────────────┬──────────────┬──────────────┬─────────────╮
                &trans          &trans        &trans        &trans        &trans         &trans            &trans         &kp C_PREV     &kp C_VOL_DN   &kp C_VOL_UP   &kp C_NEXT     &trans
//             ├───────────────┼─────────────┼─────────────┼─────────────┼──────────────┼─────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
                &trans          &trans        &trans        &trans        &trans         &trans            &trans         &trans         &trans         &trans         &trans         &trans
//             ├───────────────┼─────────────┼─────────────┼─────────────┼──────────────┼─────────────┤   ├──────────────┼──────────────┼──────────────┼──────────────┼──────────────┼─────────────┤
                &trans          &trans        &trans        &trans        &trans         &trans            &trans         &trans         &kp C_PLAY_PAUSE &kp C_MUTE    &trans         &trans
//             ╰───────────────┴─────────────┴─────────────┴─────────────┴──────────────┴─────────────╯   ╰──────────────┴──────────────┴──────────────┴──────────────┴──────────────┴─────────────╯
//                                                         ╭─────────────┬──────────────┬─────────────╮   ╭──────────────┬──────────────┬──────────────╮
                                                             &trans        &trans        &trans            &trans         &trans         &trans
//                                                         ╰─────────────┴──────────────┴─────────────╯   ╰──────────────┴──────────────┴──────────────╯
            >;
        };

        res2 {
            status = "reserved";
            display-name = "New Layer";
        };

        res3 {
            status = "reserved";
            display-name = "New Layer";
        };
    };
};
